.input-card-wrapper {
  background-color: var(--card-bg-color);
  padding: space(8);
  border-radius: $border-radius-card;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: space(8);
  row-gap: space(6);
  width: 100%;
  max-width: 100%;
  box-shadow: $shadow-default;
  transition: $default-transition;

  /* grid se smrskne */
  > * {
    min-width: 0;
  }

  @include max(md) {
    grid-template-columns: 1fr;
    padding: space(6);
  }
}
