@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
