@use "./functions" as *;

h1 {
  font-size: font-size("4xl");
  font-weight: font-weight(bold);
}

h2 {
  font-size: font-size("3xl");
  font-weight: font-weight(bold);
}

h3 {
  font-size: font-size("2xl");
  font-weight: font-weight(semibold);
}

h4 {
  font-size: font-size(xl);
  font-weight: font-weight(semibold);
}

h5 {
  font-size: font-size(lg);
  font-weight: font-weight(medium);
}
