// ---Font-size--- (1rem = 16px)
$font-size-scale: (
  "xxs": 0.625rem,
  //10px
  "xs": 0.75rem,
  //12px
  "sm": 0.875rem,
  //14px
  "md": 1rem,
  //16px
  "lg": 1.125rem,
  //18px
  "xl": 1.25rem,
  //20px
  "2xl": 1.5rem,
  //24px
  "3xl": 1.875rem,
  //30px
  "4xl": 2.25rem,
  //36px
  "5xl": 3rem,
  //48px
  "6xl": 3.75rem //60px,,,
);

//---Font-weight--- (Inter)
$font-weight-scale: (
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
);

// ---Breakpoints---
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  "2xl": 1536px,
);

//---Spacing---
$space-scale: (
  0: 0,
  1: 0.25rem,
  //4px
  2: 0.5rem,
  //8px
  3: 0.75rem,
  //12px
  4: 1rem,
  //16px
  5: 1.25rem,
  //20px
  6: 1.5rem,
  //24px
  7: 2rem,
  //32px
  8: 2.5rem,
  //40px
  9: 3rem,
  //48px
  10: 3.5rem,
  //56px
  11: 4rem //64px,,,
);

//---Box-shadow---
$shadow-default: 0 2px 12px 0 rgba(0, 0, 0, 0.07);

//---Border-radius---
$border-radius-input: 16px;
$border-radius-card: 16px;

// --Transition--
$default-transition: background-color 0.5s ease, color 0.5s ease;

//---Colors---
//neměnící se barvy
$color-text: #fff; //bílá
$color-text-secondary: #ffc300; //žlutá
$color-text-muted: #605f5f; //světle hnědá
$color-text-dark: #333333; //tmavě hnědá
// LIGHT theme
$color-bg-light: #ffc300;
$color-footer-light: rgba(#fff, 0.8);

// Stejné pro light i dark
$brand-bg-color: #e0f54a;
$brand-text-color: #25303a;
$input-border-color: #e5e7eb;
$error-color: #ef4444;

// LIGHT theme
$font-color-light: #25303a;
$bg-color-light: #fff;
$card-bg-color-light: #f9f9f9;
$color-hover-light: darken($bg-color-light, 8%);
//toggle
$icon-fill-light: #333333;
$icon-fill-hover-light: #605f5f;

// DARK theme
$color-bg-dark: #333333;
$color-footer-dark: #605f5f;

//toggle
$icon-fill-dark: #fff;
$icon-fill-hover-dark: #605f5f;
