.result-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: space(1);
  height: 100%;

  .result-text {
    order: 1;
  }

  .result-button {
    order: 2;
  }

  /* desktop – výsledek vyplní výšku, tlačítko dole */
  @include min(md) {
    .result-text {
      flex: 1 1 auto; // roztáhne se na dostupnou výšku
    }

    .result-button {
      margin-top: space(4);
    }
  }

  /* mobil – prohozené pořadí, bez roztahování */
  @include max(md) {
    gap: space(4);
    .result-text {
      order: 2;
      flex: 0 0 auto;
    }

    .result-button {
      order: 1;
    }
  }
}
