.navbar-container {
  .navbar {
    max-width: 1000px;
    margin: 0 auto;
    padding: space(4);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

<<<<<<< HEAD
  .navbar-center {
    display: flex;
    gap: 24px;
    margin: 0 auto;
  }

  .navbar-right {
    display: flex;
    gap: 12px;
    margin-left: auto;
=======
    .logo-animated {
      transition: fill 0.5s ease;
    }

    @include max(sm) {
      padding: space(2);

      .logo {
        height: 35px;
      }
    }
>>>>>>> 9a0b20a119c7c2d9c26af61a9850b3adf55b9cbe
  }
}
