.navbar-container {
  width: 100%;
  position: sticky;
  top: 0;

  .navbar {
    margin: 0 auto;
    padding: space(2);
    height: 120px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    /* odkazy */
    .navbar-center {
      grid-column: 2;
      display: flex;
      justify-content: center;
      gap: space(6);

      a {
        text-decoration: none;
        color: var(--color-text);
        font-weight: font-weight(medium);
        font-size: font-size(xl);
        padding-bottom: space(1);
        border-bottom: 2px solid transparent;
        transition: border-color 0.4s ease, color 0.4s ease;

        &:hover:not(.active) {
          color: var(--color-text-1);
        }

        &.active {
          border-color: currentColor;
        }
      }
    }

    /* jazyk + toggle */
    .navbar-right {
      grid-column: 3;
      justify-self: end;
      display: flex;
      align-items: center;
      gap: space(1);
    }

    /* breakpoint mobil */
    @include max(sm) {
      height: auto;
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: space(3);
      padding: space(3) space(2);

      .navbar-right {
        grid-column: 1;
        order: 1;
        justify-self: right;
        padding-right: space(2);
        gap: space(3);
      }

      .navbar-center {
        grid-column: 1;
        order: 2;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
