.skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $padding-top-xl;
  font-family: "Jersey 25", sans-serif;
  text-transform: uppercase;
  font-size: font-size("3xl");

  //-------ikony dovedností-------//
  .icons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
    gap: space(9);

    .skill-icon {
      filter: brightness(0) invert(1);
      transition: filter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      animation: icon-in 0.6s ease-out forwards;

      &:hover {
        filter: none;
      }
    }

    // každá ikona se objebí o 0,1 s později
    @for $i from 1 through 8 {
      .skill-icon:nth-child(#{$i}) {
        animation-delay: $i * 0.1s;
      }
    }
  }

  //-------loading text s kurzorem-------//
  .loading-container {
    color: var(--color-text-1);
    letter-spacing: 0.25em;
    margin-top: space(8);
    //objevení a zpoždění loadingu
    opacity: 0;
    animation: loading-fade-in 0.5s ease-out 1s forwards;

    .typewriter-skillpage {
      position: relative;

      &::after {
        content: "";
        width: 6px;
        height: 1em;
        background: currentColor;
        display: inline-block;
        margin-left: 4px;
        animation: blink 0.7s steps(1) infinite;
      }
    }
  }

  //breakpointy
  @include max(md) {
    padding-top: $padding-top-md;
    font-size: font-size("2xl");

    .icons-container {
      gap: space(6);

      .skill-icon {
        width: 80px;
        height: 55px;
      }
    }
  }
}

//animace ikon
@keyframes icon-in {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

//animace loadingu
@keyframes loading-fade-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// animace kurzoru
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
