.language-switcher {
  .lang-button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  /* otáčení */
  .lang-flip {
    position: relative;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
    perspective: 500px;
  }

  .lang-flip--flipped {
    transform: rotateY(180deg);
  }

  .lang-face {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .lang-face--front {
    transform: rotateY(0deg);
  }

  .lang-face--back {
    transform: rotateY(180deg);
  }
}
