.result-button-wrapper {
  width: 100%;
  background-color: var(--brand-bg-color);
  color: var(--brand-text-color);
  padding: space(5);
  border-radius: $border-radius-card;
  box-shadow: $shadow-default;
  text-align: center;
  font-size: font-size(lg);
  font-weight: font-weight(medium);
  letter-spacing: 6%;

  &:hover {
    background-color: darken($brand-bg-color, 15%);
  }
}
