.footer-container {
  color: var(--color-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: space(2);
  gap: space(1);

  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: space(3);

    .footer-icon {
      width: 25px;
      color: var(--color-footer); 
    }
     a:hover .footer-icon {
    color: var(--color-text-1);
  }
  }
}
