.portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: space(7);
  padding-top: $padding-top-xl;
    perspective: 1000px;

  @include max(md) {
    padding-top: $padding-top-md;
  }
}
