.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@supports (height: 100dvh) {
  .layout {
    min-height: 100dvh; // skutečná viditelná výška
  }
}

.layout-main {
  flex: 1;
  padding: space(6) space(4);
  min-height: 0;
}
