@import url("https://unpkg.com/open-props/easings.min.css");

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--icon-fill);
  display: flex;
  align-items: center;
  justify-content: center;

  .sun-and-moon {
    > :is(.moon, .sun, .sun-beams) {
      transform-origin: center;
    }

    > :is(.moon, .sun) {
      fill: var(--icon-fill);
    }

    > .sun-beams {
      stroke: var(--icon-fill);
      stroke-width: 2px;
    }
  }

  &:is(:hover, :focus-visible) {
    .sun-and-moon {
      > :is(.moon, .sun) {
        fill: var(--icon-fill-hover);
      }

      > .sun-beams {
        stroke: var(--icon-fill-hover);
      }
    }
  }
}

// dark theme styly

[data-theme="light"] {
  .sun-and-moon {
    > .sun {
      transform: scale(1.75);
    }

    > .sun-beams {
      opacity: 0;
    }

    > .moon > circle {
      transform: translateX(-7px);
    }
  }
}

@supports (cx: 1) {
  [data-theme="light"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

// animace
@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon {
    > .sun {
      transition: transform 0.5s var(--ease-elastic-3);
    }

    > .sun-beams {
      transition: transform 0.5s var(--ease-elastic-4),
        opacity 0.5s var(--ease-3);
    }

    .moon > circle {
      transition: transform 0.25s var(--ease-out-5);
    }

    @supports (cx: 1) {
      .moon > circle {
        transition: cx 0.25s var(--ease-out-5);
      }
    }
  }

  [data-theme="light"] {
    .sun-and-moon {
      > .sun {
        transition-timing-function: var(--ease-3);
        transition-duration: 0.25s;
        transform: scale(1.75);
      }

      > .sun-beams {
        transition-duration: 0.15s;
        transform: rotateZ(-25deg);
      }

      > .moon > circle {
        transition-duration: 0.5s;
        transition-delay: 0.25s;
      }
    }
  }
}
