.timeline {
  display: flex;
  flex-direction: column;
  row-gap: space(10);
  padding-top: $padding-top-xl;
  padding-left: 80px;
  padding-right: 80px;

  /* breakpointy */
  @include max(lg) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include max(md) {
    padding-top: $padding-top-md;
    padding-left: 0;
    padding-right: 0;
      row-gap: space(8);

    /* osa pouze na mobilu */
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20px;
      transform: translateX(-50%);
      width: 4px;
      background-color: var(--color-text-4);
    }

    /* šipka nahoře */
    &::after {
      content: "";
      position: absolute;
      left: 20px;
      top: 15px;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 20px;
      height: 20px;
      border-top: 4px solid var(--color-text-4);
      border-left: 4px solid var(--color-text-4);
    }
  }
}
